language: generic 
sudo: required
services:
  - docker

before_install: 
  - docker build -f Dockerfile.dev -t parthaatgithub/docker-react .

  script:
- docker run -e CI=true parthaatgithub/docker-react npm run test
